input[type="text"] {
	width: 40px;
	text-align: right;
}

input[type="text"]:disabled {
	background: #dddddd;
}

table {
	border-collapse: collapse;
	border: 1px solid;
	text-align: center;
}

td {
	border-collapse: collapse;
	border: 1px solid;
}

th {
	background-color: #444444;
	color: #ffffff;
	border: 1px solid #ffffff;
}

p.obj {
	margin: 1px;
	margin-left: 14px;
	border-left: 1px dotted #000000;
	border-collapse: collapse;
}

label {
	padding-left: 7px;
}

